ignore-empty-password
image=~/.config/hypr/wallpaper.png
clock
indicator
indicator-radius=100
indicator-thickness=12
layout-border-color=00000000
separator-color=00000000

ring-color={{.hcolors.slate_300}}
ring-wrong-color={{.hcolors.slate_300}}
ring-ver-color={{.hcolors.slate_300}}
ring-clear-color={{.hcolors.slate_300}}
key-hl-color={{.hcolors.primary_500}}

text-color={{.hcolors.text.default}}
text-wrong-color={{.hcolors.red_800}}
text-ver-color={{.hcolors.green_800}}
text-clear-color={{.hcolors.amber_800}}

inside-color={{.hcolors.background.default}}
inside-wrong-color={{.hcolors.red_50}}
inside-ver-color={{.hcolors.green_50}}
inside-clear-color={{.hcolors.amber_50}}

line-color=00000000
line-wrong-color=00000000
line-ver-color=00000000
line-clear-color=00000000

effect-blur=32x5
effect-vignette=0.5:0.5
font={{.ui_font}}
