ignore-empty-password
image=~/.config/hypr/wallpaper.png
clock
indicator
indicator-radius=100
indicator-thickness=12
layout-border-color=00000000
separator-color=00000000

ring-color={{.hex.slate_300}}
ring-wrong-color={{.hex.slate_300}}
ring-ver-color={{.hex.slate_300}}
ring-clear-color={{.hex.slate_300}}
key-hl-color={{.hex.primary_500}}

text-color={{.hex.text_dark}}
text-wrong-color={{.hex.red_800}}
text-ver-color={{.hex.green_800}}
text-clear-color={{.hex.amber_800}}

inside-color={{.hex.background_dark}}
inside-wrong-color={{.hex.red_50}}
inside-ver-color={{.hex.green_50}}
inside-clear-color={{.hex.amber_50}}

line-color=00000000
line-wrong-color=00000000
line-ver-color=00000000
line-clear-color=00000000

effect-blur=32x5
effect-vignette=0.5:0.5
font={{.ui_font}}
