[connection]
id=Home
uuid=fd3aeebc-a90b-4a90-b7ee-911131e2ad75
type=wifi

[wifi]
mode=infrastructure
ssid=ATThldGfst

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ (keepassxc "ATThldGfst").Password }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]

