[connection]
id=Hotspot
uuid=4181e24f-5dd0-43c8-8aa7-7d4fc1d72858
type=wifi

[wifi]
mode=infrastructure
ssid=OnePlus 7T

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ (keepassxc "OnePlus 7T").Password }}

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]

