#!/usr/bin/bash

source "$CHEZMOI_SOURCE_DIR/common.sh"

install_networkmanager() {
    install NetworkManager \
        wpa_supplicant \
        networkmanager \
        dhcpcd

    info "Enabling network services"
    sudo systemctl enable --now dhcpcd
    sudo systemctl enable --now NetworkManager
}

install_nmconnection() {
    local ssid="$1"
    info "Installing $ssid connection"
    local src="$HOME/.root/network/$ssid"
    local dst="/etc/NetworkManager/system-connections/$ssid.nmconnection"
    if [ -f "$dst" ]; then
        if diff "$src" "$dst" > /dev/null; then
            info "$ssid connection already installed"
            exit 0
        else
            warn "$ssid connection already exists but is different"
        fi
    fi
    sudo cp "$src" "$dst"
    sudo chown root:root "$dst"
    sudo chmod 600 "$dst"
}

scan_and_connect() {
    declare -A networks=(
        ["School"]="GCPS-Mobile"
        ["Home"]="ATTJWD"
        ["Hotspot"]="OnePlus 7T"
    )
    for connection in "${!networks[@]}"; do
        if nmcli connection show --active | grep -q "$connection"; then
            info "$connection already active"
            return 0
        fi
        if nmcli device wifi list | grep -q "${networks[$connection]}"; then
            info "Activating $connection"
            sudo nmcli connection up "${networks[$connection]}"
            return 0
        fi
    done
    warn "Can't find any of the networks: ${!networks[@]}"
    return 0
}

install_networkmanager
# secret.kdbx hash: {{ include "private_dot_config/private_secret.kdbx" | sha256sum }}
# School.conf hash: {{ include "private_dot_root/network/School.tmpl" | sha256sum }}
install_nmconnection "School"
# Home.conf hash: {{ include "private_dot_root/network/Home.tmpl" | sha256sum }}
install_nmconnection "Home"
# Hotspot.conf hash: {{ include "private_dot_root/network/Hotspot.tmpl" | sha256sum }}
install_nmconnection "Hotspot"
scan_and_connect
