[wifi-security]
key-mgmt=wpa-eap

[connection]
id=School
uuid=25ebde68-6464-41fe-8e7a-e46f1d240238
type=wifi

[ipv6]
method=auto

[wifi]
ssid=GCPS-Mobile
mode=infrastructure
security=802-11-wireless-security

[802-1x]
eap=peap
identity={{ (keepassxc "GCPS-Mobile" ).UserName }}
phase2-auth=mschapv2
password={{ (keepassxc "GCPS-Mobile").Password }}

[ipv4]
method=auto
