[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = https://github.com/oxson/dotbot-yay
[submodule "/home/yubo/config/zsh/themes/powerlevel10k"]
	path = /home/yubo/config/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
