### Basic
# fcitx5
exec-once = fcitx5
# waybar
exec-once = eww open bar
# gammastep
exec-once = gammastep -t 5700:3600 -l 33.956215:-83.987961
# dbus / flameshot / gtk
exec-once = systemctl --user import-environment display wayland_display swaysock
exec-once = hash dbus-update-activation-environment 2>/dev/null && \
    dbus-update-activation-environment --systemd display wayland_display swaysock
exec-once = dbus-update-activation-environment --systemd display wayland_display swaysock
# polkit
exec-once = polkit-dumb-agent
# GTK theme
exec-once = gsettings set org.gnome.desktop.interface gtk-theme 'Orchis-Light'  
exec-once = gsettings set org.gnome.desktop.interface icon-theme 'Papirus'
# Lock Screen
exec-once = swayidle -w \
    timeout 300 'swaylock -f -c 000000' \
    timeout 600 'hyprctl dispatch dpms off' resume 'hyprctl dispatch dpms on' \
    before-sleep 'swaylock -f -c 000000'
bindl=,switch:off:Lid Switch,exec,hyprctl dispatch dpms off
bindl=,switch:on:Lid Switch,exec,hyprctl dispatch dpms on

source=~/.config/hypr/keybinds.conf

### Montior
# 1.5 scaling
monitor = eDP-1,3072x1920@60,0x0,1.2
# 3072 / 1.25 = 2457.6, left-rght setup
monitor = HDMI-A-1,190x1080@60,2560x0,1
# wallpaper
exec-once = hyprpaper
# Xwayland DPI
exec-once = xrdb -load ~/.Xresources

### Environment
env = XCURSOR_SIZE,24

input {
    kb_layout = us,es
    kb_options = grp:caps_toggle
    repeat_rate = 30
    repeat_delay = 500
    sensitivity = 0

    # mouse will always change keyboard focus
    follow_mouse = 1
    accel_profile  = adaptive

    touchpad {
        natural_scroll = yes
        scroll_factor  = 0.35
    }
}

general {
    gaps_in = 2
    gaps_out = 4
    border_size = 1

    col.active_border = rgba({{.hex.secondary_600}}ee) rgba({{.hex.primary_600}}ee) 45deg
    col.inactive_border = rgba({{.hex.slate_100}}00)

    layout = dwindle

    resize_on_border = true
    extend_border_grab_area = 8
    hover_icon_on_border = true
}

decoration {
    rounding = 8
}

animations {
    enabled = true
    bezier = ease_in, 0.76, 0.24, 0.44, 1 

    bezier = md3_standard, 0.2, 0.0, 0, 1.0
    bezier = md3_decel, 0.05, 0.7, 0.1, 1
    bezier = md3_accel, 0.3, 0, 0.8, 0.15
    
    animation = windows, 1, 2, md3_decel, slide
    animation = border, 1, 5, default
    animation = fade, 1, 0.0000001, default
    animation = workspaces, 1, 5, md3_decel, slide
}

dwindle {
    pseudotile = yes nds section below
    preserve_split = yes
}

master {
    new_is_master = true
}

gestures {
    workspace_swipe = true
    workspace_swipe_fingers = 4
}

misc {
    key_press_enables_dpms = true
    vfr = true
    vrr = 1

    disable_hyprland_logo = true
    disable_splash_rendering = true

    focus_on_activate = true
	animate_manual_resizes = true
	animate_mouse_windowdragging = true
    enable_swallow = true
}

xwayland {
    force_zero_scaling = true
}

### Window Rules
windowrule = float, ^(steam)$
windowrule = float, ^(guifetch)$
windowrule = float, ^(showmethekey-gtk)$
windowrule = pin, ^(showmethekey-gtk)$

# Looks
windowrulev2 = opacity 0.95 override 0.95 override,class:^(code)$
windowrulev2 = opacity 0.95 override 0.95 override,class:^(Code)$
windowrulev2 = opacity 0.95 override 0.95 override,class:^(code-url-handler)$
windowrulev2 = opacity 0.95 override 0.95 override,class:^({{.terminal}})$

# Dialogs
windowrule=float,title:^(Open File)(.*)$
windowrule=float,title:^(Open Folder)(.*)$
windowrule=float,title:^(Save As)(.*)$
windowrule=float,title:^(Library)(.*)$
windowrule=float,title:^沙拉查词
