### Keyboard

# Windows key
$mod = SUPER
# Vim keys
$left = h
$down = j
$up = k
$right = l

# Volume
bindl = ,XF86AudioRaiseVolume, exec, pactl set-sink-volume @DEFAULT_SINK@ +5%
bindle = ,XF86AudioLowerVolume, exec, pactl set-sink-volume @DEFAULT_SINK@ -5%
bind = ,XF86AudioMute, exec, pactl set-sink-mute @DEFAULT_SINK@ toggle

# Light
bindl = ,XF86MonBrightnessUp, exec, light -A 5
bindle = ,XF86MonBrightnessDown, exec, light -U 5

# Next song
bind = ,XF86AudioNext, exec, playerctl next

# Launcher - Wofi
bind = $mod, d, exec, wofi --show drun
# Launch application
bind = $mod, Return, exec, {{.terminal}}
bind = $mod, w, exec, {{.browser}}
bind = $mod, c, exec, {{.gui_editor}}
bind = $mod, v, exec, {{.file_manager}}
# Screenshot
bind = , F1, exec, grim -g "$(slurp)" - | swappy -f - - | wl-copy

# Close window
bind = $mod SHIFT, Q, killactive, 
# Toggle fullscreen
bind = $mod, f, fullscreen, 0 # fullscreen
bind = $mod SHIFT, f, fullscreen, 1 # max
bind = ALT, f, fakefullscreen # fake fullscreen 
# Exit Hyprland
bind = $mod SHIFT, E, exit 
# Toggle floating
bind = $mod SHIFT, space, togglefloating, 
bind = $mod, p, pseudo, # dwindle
bind = $mod, e, togglesplit, # dwindle

# Move focus with mainMod + arrow keys
bind = $mod, $left, movefocus, l
bind = $mod, $right, movefocus, r
bind = $mod, $up, movefocus, u
bind = $mod, $down, movefocus, d

# Switch workspaces with mainMod + [0-9]
bind = $mod, 1, workspace, 1
bind = $mod, 2, workspace, 2
bind = $mod, 3, workspace, 3
bind = $mod, 4, workspace, 4
bind = $mod, 5, workspace, 5
bind = $mod, 6, workspace, 6
bind = $mod, 7, workspace, 7
bind = $mod, 8, workspace, 8
bind = $mod, 9, workspace, 9
bind = $mod, 0, workspace, 10

# Move active window to a workspace with mainMod + SHIFT + [0-9]
bind = $mod SHIFT, 1, movetoworkspace, 1
bind = $mod SHIFT, 2, movetoworkspace, 2
bind = $mod SHIFT, 3, movetoworkspace, 3
bind = $mod SHIFT, 4, movetoworkspace, 4
bind = $mod SHIFT, 5, movetoworkspace, 5
bind = $mod SHIFT, 6, movetoworkspace, 6
bind = $mod SHIFT, 7, movetoworkspace, 7
bind = $mod SHIFT, 8, movetoworkspace, 8
bind = $mod SHIFT, 9, movetoworkspace, 9
bind = $mod SHIFT, 0, movetoworkspace, 10

# Scroll through existing workspaces with mod + scroll
bind = $mod, mouse_down, workspace, e+1
bind = $mod, mouse_up, workspace, e-1

# Resize window
bindm = $mod, mouse:273, resizewindow
# Resize mode
bind = $mod, r, submap, resize
submap = resize
binde = , $right, resizeactive, 10 0
binde = , $left, resizeactive, -10 0
binde = , $up, resizeactive, 0 -10
binde = , $down, resizeactive, 0 10
bind =, escape, submap, reset
submap = reset

# Move window
bindm = $mod, mouse:272, movewindow
bind = $mod SHIFT, $right, movewindow, r 
bind = $mod SHIFT, $left, movewindow, l
bind = $mod SHIFT, $up, movewindow, u
bind = $mod SHIFT, $down, movewindow, d
