### Constant

# Win
set $mod Mod4

# Direction
set $left h
set $down j
set $up k
set $right l

# Terminal - Kitty
set $term kitty

# Launcher - Wofi
set $menu wofi --show drun --conf {{ .chezmoi.homeDir }}/.config/wofi/config | xargs swaymsg exec --

### Output

# Wallpaper
output * bg {{ .chezmoi.homeDir }}/.config/sway/wallpaper.jpg fill

# 1.5 scaling
output eDP-1 resolution 3072x1920 position 0,0 scale 1.5

# 3072 / 1.5 = 2048, left-right setup
output HDMI-A-1 resolution 1920x1080 position 2048,0

### Idle

exec swayidle -w \
    timeout 300 'swaylock -f -c 000000' \
    timeout 600 'swaymsg "output * power off"' resume 'swaymsg "output * power on"' \
    before-sleep 'swaylock -f -c 000000'
exec fcitx5


### Input

# Touchpad
input "1267:12815:VEN_04F3:00_04F3:320F_Touchpad" {
    dwt enabled
    tap enabled
    drag enabled
    scroll_factor 0.5
    natural_scroll enabled
    middle_emulation enabled
}

### Basic

# Gap
gaps outer 2
gaps inner 6
default_border pixel 2

# Client: border background text indicator child_border
client.focused           {{.colors.slate_300}}  {{.colors.slate_300}}  {{.colors.slate_200}}
client.focused_inactive  {{.colors.slate_200}}  {{.colors.slate_200}}  {{.colors.slate_100}}
client.unfocused         {{.colors.slate_100}}  {{.colors.slate_100}}  {{.colors.slate_50}}

# Redshift
exec gammastep -t 5700:3600 -l 33.956215:-83.987961

# Dbus / Flameshot / GTK
exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

# Window
for_window [window_role = "pop-up"] floating enable
for_window [window_role = "bubble"] floating enable
for_window [window_role = "dialog"] floating enable
for_window [window_role = "task_dialog"] floating enable
for_window [window_type = "menu"] floating enable
for_window [shell="xwayland"] title_format "<span>[X] %title゜</span>"

# Polkit
exec polkit-dump-agent

### Key bindings

## Basic

# Start a terminal
bindsym $mod+Return exec $term

# Kill focused window
bindsym $mod+Shift+q kill

# Start your launcher
bindsym $mod+d exec $menu

# Dragging float window
floating_modifier $mod normal

# Reload the configuration file
bindsym $mod+Shift+c reload

# Exit sway (logs you out of your Wayland session)
bindsym $mod+Shift+e exec swaynag -t warning \
    --message 'Exit Sway' \
    --button-no-terminal 'Yes, exit' 'swaymsg exit' \
    --background 'f8fafc' \
    --border 'f1f5f9' \
    --button-background '#e2e8f0' \
    --button-border '#94a3b8' \
    --message-padding 8 \
    --button-padding 8 \
    --dismiss-button '×' \
    --font 'Inter'

## Moving around

# Move your focus around
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

# Arrow keys
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Move the focused window with the same, but add Shift
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# Arrow keys
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

## Workspaces

# Switch to workspace
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10

# Move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

## Layout

# H,V split
bindsym $mod+b splith
bindsym $mod+v splitv

# Switch the current container between different layout styles
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Make the current focus fullscreen
bindsym $mod+f fullscreen

# Toggle the current focus between tiling and floating mode
bindsym $mod+Shift+space floating toggle

# Swap focus between the tiling area and the floating area
bindsym $mod+space focus mode_toggle

# Move focus to the parent container
bindsym $mod+a focus parent

## Scratchpad
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

## Resize
mode "resize" {
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px

    # Arrow Keys
    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px

    # Return to default mode
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

## XF86 keys
bindsym XF86MonBrightnessUp exec light -A 5
bindsym XF86MonBrightnessDown exec light -U 5
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioPlay exec playerctl play-pause

### Bar
bar {
   swaybar_command waybar
}
