#!/usr/bin/env bash

BLANK='{{.web.background_dark}}FF'
CLEAR='{{.web.dark_100}}FF'
DEFAULT='{{web.primary_main}}cc'
TEXT='{{.web.primary_text}}ee'
WRONG='{{.web.red_800}}bb'
VERIFYING='{{.web.secondary_main}}bb'

i3lock \
    --insidever-color=$CLEAR \
    --ringver-color=$VERIFYING \
    \
    --insidewrong-color=$CLEAR \
    --ringwrong-color=$WRONG \
    \
    --inside-color=$BLANK \
    --ring-color=$DEFAULT \
    --line-color=$BLANK \
    --separator-color=$DEFAULT \
    \
    --verif-color=$TEXT \
    --wrong-color=$TEXT \
    --time-color=$TEXT \
    --date-color=$TEXT \
    --layout-color=$TEXT \
    --keyhl-color=$WRONG \
    --bshl-color=$WRONG \
    \
    --screen 1 \
    --blur 5 \
    --clock \
    --indicator \
    --time-str="%H:%M:%S" \
    --date-str="%A, %Y-%m-%d" \
    --keylayout 1 \
