#!/usr/bin/env bash

i3lock \
    --insidever-color={{.web.secondary_50}}cc \
    --ringver-color={{.web.secondary_main}}FF \
    \
    --insidewrong-color={{.web.red_50}}cc \
    --ringwrong-color={{.web.red_main}}FF \
    \
    --inside-color={{.web.dark_50}}cc \
    --ring-color={{.web.background_dark}}FF \
    --line-color={{.web.background_dark}}FF \
    --separator-color={{.web.background_dark}}FF \
    \
    --verif-color={{.web.title_dark}}FF \
    --wrong-color={{.web.red_800}}FF \
    --time-color={{.web.text_dark}}FF \
    --date-color={{.web.title_dark}}FF \
    --layout-color={{.web.text_dark}}FF \
    --keyhl-color={{.web.primary_main}}FF \
    --bshl-color={{.web.tertiary_main}}FF \
    \
    --time-font={{.ui_font}} \
    --date-font={{.ui_font}} \
    --layout-font={{.ui_font}} \
    --verif-font={{.ui_font}} \
    --wrong-font={{.ui_font}} \
    --greeter-font={{.ui_font}} \
    \
    --image="$HOME/.config/nitrogen/wallpaper.png" --fill \
    --clock \
    --indicator
