* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans", "Symbols Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
    opacity: 0.2;
}


/*-----module groups----*/

.modules-right {
    background-color: rgba(245, 245, 245, 0.85);
    margin: 0 16px 0 0;
}

.modules-center {
    background-color: rgba(245, 245, 245, 0.85);
    margin: 0 0 0 0;
}

.modules-left {
    margin: 0 0 0 16px;
    background-color: rgba(245, 245, 245, 0.85);
}


/*-----Indicators----*/

#idle_inhibitor.activated {
    color: #2dcc36;
}

#pulseaudio.muted {
    color: #cc3436;
}

#battery.charging {
    color: #2dcc36;
}

#battery.warning:not(.charging) {
    color: #e6e600;
}

#battery.critical:not(.charging) {
    color: #cc3436;
}

#temperature.critical {
    color: #cc3436;
}


/*----Indivial Modules------*/

#workspaces button {
    margin: 4px 4px;
    background-color: rgba(189, 189, 189, 0.5);
    font-size: 16px;
    border-radius: 5px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#mode {
    border-radius: 5px;
}

#temperature,
#tray,
#pulseaudio,
#network,
#memory,
#cpu,
#backlight,
#battery,
#clock {
    padding: 4px 8px;
    background-color: rgba(189, 189, 189, 0.5);
    margin: 4px 4px;
    border-radius: 5px;
}

#tray {
    background-color: rgba(66, 66, 66, 0.5);
}

#pulseaudio {
    background-color: rgba(250, 250, 250, 0.5);
}

#backlight {
    background-color: rgba(245, 245, 245, 0.5);
}

#network {
    background-color: rgba(238, 238, 238, 0.5);
}

#memory {
    background-color: rgba(224, 224, 224, 0.5);
}

#cpu {
    background-color: rgba(189, 189, 189, 0.5);
}

#temperature {
    background-color: rgba(158, 158, 158, 0.5);
}

#battery {
    background-color: rgba(117, 117, 117, 0.5);
}

#clock {
    background-color: rgba(97, 97, 97, 0.5);
}

#tray {
    background-color: rgba(66, 66, 66, 0.5);
}