function set_wayland_environment
    # Wayland
    set -Ux GTK_BACKEND wayland
    set -Ux MOZ_ENABLE_WAYLAND 1
    set -Ux MOZ_WEBRENDER 1
    set -Ux QT_QPA_PLATFORM wayland
    set -Ux CLUTTER_BACKEND wayland
    set -Ux SDL_VIDEODRIVER wayland
    set -Ux _JAVA_AWT_WM_NONREPARENTING 1
    set -Ux XDG_SESSION_TYPE wayland
end

function unset_wayland_environment
    # Wayland
    set -e GTK_BACKEND
    set -e MOZ_ENABLE_WAYLAND
    set -e MOZ_WEBRENDER
    set -e QT_QPA_PLATFORM
    set -e CLUTTER_BACKEND
    set -e SDL_VIDEODRIVER
    set -e _JAVA_AWT_WM_NONREPARENTING
    set -e XDG_SESSION_TYPE
end

function set_environment
    # Fcitx
    set -Ux GTK_IM_MODULE fcitx
    set -Ux QT_IM_MODULE fcitx
    set -Ux XMODIFIERS @im=fcitx
    set -Ux SDL_IM_MODULE fcitx
    set -Ux GLFW_IM_MODULE ibus

    # Theme
    set -Ux QT_QPA_PLATFORMTHEME qt5ct

    # Neovim
    set -Ux EDITOR nvim

    # Github
    set -Ux GH_TOKEN {{ (keepassxc "github").Password }}

    # Pyenv
    set -Ux PYENV_ROOT $HOME/.pyenv
    set -U fish_user_paths $PYENV_ROOT/bin $fish_user_paths

    # i3
    set -Ux XDG_CURRENT_DESKTOP i3 
    set -Ux XDG_SESSION_DESKTOP i3 

    # texlive
    if not contains "/usr/local/texlive/2023/bin/x86_64-linux" $PATH
        fish_add_path /usr/local/texlive/2023/bin/x86_64-linux
    end
    if not contains "/usr/local/texlive/2023/texmf-dist/doc/info" $INFOPATH
        if not set -q INFOPATH
            set -U INFOPATH
        end
        set -Uxa INFOPATH /usr/local/texlive/2023/texmf-dist/doc/info
    end
end

function cz
    chezmoi $argv
end

function ce
    chezmoi edit --watch $argv
end

function nv
    neovide $argv
end

function icat
    kitty +kitten icat $argv
end

unset_wayland_environment
set_environment
{{- if .wayland }}
set_wayland_environment
{{- end }}

if status is-interactive
end

pyenv init - | source
zoxide init fish | source
