function set_wayland_environment
    # Wayland
    set -Ux GTK_BACKEND wayland
    set -Ux MOZ_ENABLE_WAYLAND 1
    set -Ux MOZ_WEBRENDER 1
    set -Ux QT_QPA_PLATFORM wayland
    set -Ux CLUTTER_BACKEND wayland
    set -Ux SDL_VIDEODRIVER wayland
    set -Ux _JAVA_AWT_WM_NONREPARENTING 1
    set -Ux XDG_SESSION_TYPE wayland
    set -Ux XDG_CURRENT_DESKTOP hyprland
    set -Ux XDG_SESSION_DESKTOP hyprland
end

function set_environment
    # Fcitx
    set -Ux GTK_IM_MODULE fcitx
    set -Ux QT_IM_MODULE fcitx
    set -Ux XMODIFIERS @im=fcitx
    set -Ux SDL_IM_MODULE fcitx
    set -Ux GLFW_IM_MODULE ibus

    # Theme
    set -Ux QT_QPA_PLATFORMTHEME qt5ct

    # Neovim
    set -Ux EDITOR nvim

    # Github
    set -Ux GITHUB_PAT {{ .github_pat }}

    # Pyenv
    set -Ux PYENV_ROOT $HOME/.pyenv
    set -U fish_user_paths $PYENV_ROOT/bin $fish_user_paths
end

function cz
    chezmoi $argv
end

function ce
    chezmoi edit --watch $argv
end

function nv
    neovide $argv
end

set_environment
{{- if .wayland }}
set_wayland_environment
{{- end }}

if status is-interactive
end

pyenv init - | source
zoxide init fish | source
