anchor=top-right
font={{.ui_font}} 10
background-color={{.web.slate_50}}
text-color={{.web.text_dark}}
width=320
margin=0,24,24
padding=16
border-size=2
border-color={{.web.dark_200}}
border-radius=4
default-timeout=5000
group-by=summary

[grouped]
format=<b>%s</b>\n%b
