#!/usr/bin/bash

source "$CHEZMOI_SOURCE_DIR/common.sh"

info "Install matter dependencies"
install "Matter" \
    inkscape \
    grub-customizer

info "Install matter"
sudo python "$HOME/.root/grub/matter/matter.py" \
        --fontname 'Inter Regular' \
        --fontfile /usr/share/fonts/inter/Inter-Regular.ttf \
        --icons arch folder arch arch arch arch microsoft-windows cog \
        --highlight '{{.hex.text_primary}}' \
        --foreground '{{.hex.text_dark}}' \
        --background '{{.hex.background_dark}}' \
        --iconcolor '{{.hex.dark_400}}'
