/* colors */

* {
  al:   {{.colors.background.default}}00;
  bg:   {{.colors.slate_200}}FF;
  bga:  {{.colors.primary_600}}33;
  bar:  {{.colors.slate_900}}FF;
  fg:   {{.colors.text.default}}FF;
  ac:   {{.colors.indigo_600}}FF;
}
