/* colors */

* {
  al:   {{.web.background_secondary}}00;
  bg:   {{.web.background_dark}}FF;
  bga:  {{.web.background_primary}}33;
  bar:  {{.web.title_dark}}FF;
  fg:   {{.web.text_dark}}FF;
  ac:   {{.web.tertiary_main}}FF;
}
