set notification-error-bg       "{{.web.red_50}}"
set notification-error-fg       "{{.web.red_600}}"
set notification-warning-bg     "{{.web.amber_50}}"
set notification-warning-fg     "{{.web.amber_600}}"
set notification-bg             "{{.web.background_secondary}}"
set notification-fg             "{{.web.title_secondary}}"

set completion-bg               "{{.web.background_dark}}"
set completion-fg               "{{.web.text_dark}}"
set completion-group-bg         "{{.web.dark_100}}"
set completion-group-fg         "{{.web.title_dark}}"
set completion-highlight-bg     "{{.web.background_primary}}"
set completion-highlight-fg     "{{.web.title_primary}}"

# Define the color in index mode
set index-bg                    "{{.web.background_dark}}" 
set index-fg                    "{{.web.title_dark}}" 
set index-active-bg             "{{.web.background_primary}}"
set index-active-fg             "{{.web.title_primary}}"

set inputbar-bg                 "{{.web.background_dark}}"
set inputbar-fg                 "{{.web.text_dark}}"

set statusbar-bg                "{{.web.background_dark}}"
set statusbar-fg                "{{.web.text_dark}}"

set highlight-color             "{{.web.background_primary}}"
set highlight-active-color      "{{.web.title_primary}}"

set default-bg                  "{{.web.background_dark}}"
set default-fg                  "{{.web.text_dark}}"
set render-loading              true
set render-loading-fg           "{{.web.background_dark}}"
set render-loading-bg           "{{.web.background_dark}}"

# Recolor book content's color
set recolor-lightcolor          "{{.web.dark_100}}"
set recolor-darkcolor           "{{.web.dark_800}}"
set recolor                     "true"
#set recolor-keephue             true   

# Clipboard
set selection-clipboard clipboard

# Side by side
map D set "first-page-column 1:1"
map <C-d> set "first-page-column 1:2"
