* {
  border: none;
  border-radius: 0;
  font-family: {{.ui_font}}, "Symbols Nerd Font";
  font-size: 13px;
  color: {{.web.text_dark}};
}

window#waybar {
  background-color: {{.web.background_dark}};
}

/* Indicators */
#idle_inhibitor.activated {
  color: {{.web.green_500}}
}

#pulseaudio.muted {
  color: {{.web.amber_500}}
}

#battery.charging {
  color: {{.web.green_500}}
}

#battery.warning:not(.charging) {
  color: {{.web.amber_500}}
}

#battery.critical:not(.charging),
#temperature.critical {
  color: {{.web.red_500}}
}

/* Modules */
.modules-right {
  padding-right: 12px;
}

.modules-left {
  padding-left: 12px;
}

#workspaces>button, 
.modules-right>widget>label,
#tray {
  margin: 6px 0px;
  border-left: 2px solid {{.web.border_dark}};
  padding: 0px 12px;
}

#workspaces button.active,
#workspaces button.focus {
  border-bottom: 2px solid {{.web.primary_500}};
  margin-bottom: 4px;
}

#workspaces button:first-child, 
#pulseaudio { 
  border: none; 
}

.modules-right button:last-child {
  padding-right: 0;
}

#tray {
  padding-right: 0;
}


