### Basic

## CSS
# font
font pango:Inter 8
# color for windows decoration: border background text indicator child_border
client.focused   {{.web.primary_600}} {{.web.background_primary}} {{.web.text_primary}} {{.web.primary_main}} {{.web.primary_300}}
client.unfocused {{.web.dark_300}} {{.web.background_dark}} {{.web.text_dark}} {{.web.dark_main}} {{.web.dark_400}}
client.urgent    {{.web.red_main}} {{.web.red_50}} {{.web.red_600}} {{.web.red_800}} {{.web.red_400}}
# border
border_radius 8
for_window [class=".*"] border pixel 0

gaps outer 0
gaps inner 8

## Daemon
# lock screen, run ~/.config/i3lock/lock.sh
exec --no-startup-id xss-lock --transfer-sleep-lock -- bash "$HOME/.config/i3lock/lock.sh"
# fcitx
exec --no-startup-id bash -c "fcitx5 > /tmp/fcitx.log 2>&1"
## eww
# exec_always --no-startup-id eww daemon
# exec_always --no-startup-id eww open bar
# polybar (notice hardware udev has it as hook)
# exec_always --no-startup-id python ~/.config/polybar/launch.py
for_window [instance="polybar"] floating enable, border none, sticky enable
# redshift
exec --no-startup-id bash -c "redshift -t 5000:3600 -l 33.956215:-83.987961 > /tmp/redshift.log 2>&1"
# autotiling
exec --no-startup-id python ~/.config/i3/script/autotiling.py
# nitrogen (notice hardware udev has it as hook)
#exec --no-startup-id nitrogen --restore --force-setter=xinerama
# xborders
exec --no-startup-id python ~/.config/i3/script/xborders.py --config ~/.config/xborders/config.json
# polkit
exec --no-startup-id polkit-dumb-agent
# dunst
exec --no-startup-id dunst
# cassowary
exec --no-startup-id bash -c "python -m cassowary -bc > /tmp/cassowary.log 2>&1"

## Window rules
# floating
for_window [window_role = "pop-up"] floating enable
for_window [window_role = "bubble"] floating enable
for_window [window_role = "dialog"] floating enable
for_window [window_type = "dialog"] floating enable
for_window [window_role = "task_dialog"] floating enable
for_window [window_type = "menu"] floating enable
# floating
for_window [floating] border pixel 2
