#!/usr/bin/bash

source "$CHEZMOI_SOURCE_DIR/common.sh"

install "Arduino" \
    arduino-cli arduino \
    avr-gcc

info "Setup Arduino"
if ! id -u "$USER" | grep -q "uucp"; then
    sudo usermod -aG uucp "$USER"
fi
sudo modprobe cdc_acm
arduino-cli lib update-index
info "Install libraries"
arduino-cli lib install NewPing
arduino-cli lib install Servo
arduino-cli core update-index
arduino-cli core install arduino:avr
