[color]
background = {{.colors.background.default}}
foreground = {{.colors.text.default}}
foreground-alt = {{.colors.slate_600}}
module-fg = {{.colors.slate_800}}
primary = {{.colors.primary_300}}
secondary = {{.colors.indigo_600}}
alternate = {{.colors.violet_600}}
