[color]
background = {{.web.background_dark}}
foreground = {{.web.title_dark}}
foreground-alt = {{.web.text_dark}}
module-fg = {{.web.title_dark}}
primary = {{.web.primary_main}}
secondary = {{.web.secondary_main}}
alternate = {{.web.tertiary_main}}
